<p>
  {{link-to "Product list" "products.index" }}
</p>

<h1>Product show</h1>

<p>
  <strong>Nombre:</strong>
  <span>{{model.nombre}}</span>
</p>

<p>
  <strong>Descripcion:</strong>
  <span>{{model.descripcion}}</span>
</p>

<p>
  <strong>Tipo:</strong>
  <span>{{model.tipo}}</span>
</p>

<p>
  <strong>Precio:</strong>
  <span>{{model.precio}}</span>
</p>

<p>
  <strong>Image:</strong>
  <span>{{model.image}}</span>
</p>

