<p>
  {{link-to "Recibo list" "recibos.index" }}
</p>

<h1>Recibo show</h1>

<p>
  <strong>Nombreusuario:</strong>
  <span>{{model.nombreusuario}}</span>
</p>

<p>
  <strong>Nombreproducto:</strong>
  <span>{{model.nombreproducto}}</span>
</p>

<p>
  <strong>Cantidad:</strong>
  <span>{{model.cantidad}}</span>
</p>

<p>
  <strong>Precio:</strong>
  <span>{{model.precio}}</span>
</p>

<p>
  <strong>Total:</strong>
  <span>{{model.total}}</span>
</p>

